*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

body{
    background-image: url("img/jamie-fenn-PEVG_cqrIVo-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
}

.container{
    
    height: 500px;
    width: 400px;
    margin: auto;
    background: #000000ad;
    padding: 20px;
    border-radius: 5px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.titulo{
    text-align: center;
    margin-bottom: 20px;
    font-size:xx-large;
}
.texto{
    margin-bottom: 15px;
}